.login{
	width: 100%;
	height: 100%;
	main{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
}
.login-loader{
	display: block;
}
.login-form{
	width: 320px;
	display: block;
	background: $screenBackground;
	padding: 16px;
	position: relative;
}
.login-input-label{
	color: $grey;
	font-size: 0.85rem;
	font-family: 'SourceSansPro';
}
.login-input{
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	display: block;
	font-size: 1rem;
	font-family: 'SourceSansPro';
	box-shadow: none;
	border-radius: none;
	border: 1px solid $grey;
	&:invalid{
		border: 1px solid $grey;
	}
	&:focus{
		border: 1px solid $buttonBackground;
		outline: 1px solid $buttonBackground;
	}
	&.mod-password{
		margin-bottom: 0;
	}
	
}
.login-button-wrapper{
	display: flex;
	justify-content: flex-end;
}
.login-button{
	display: block;
	min-width: 100px;
	background: $buttonBackground;
	border: none;
	height: 40px;
	color: $white;
	text-transform: uppercase;
	font-size: 1rem;
	@include shadow;
	cursor: pointer;
	font-family: 'SourceSansPro';
}
.login-extras{	
	margin-bottom: 16px;	
	display: flex;
	justify-content: space-between;
}
.login-extras-button{
	font-size: 0.85rem;
	color: $buttonBackground;
	cursor: pointer;
}
.login-password-text{
	font-family: 'SourceSansPro';
	font-size: 0.75rem;
	color: $grey;
	margin-top: 16px;
}