.navlink{
	color: $white;
	font-family: 'SourceSansPro';
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	height: 100%;
	position: relative;
	display: flex;
	padding: 0 16px;
	align-items: center;
	&:hover {
		background: $buttonSelected;
	}
	
	.navlink-label{
		position: relative;
	}
	@media screen and (max-width: 400px) {
        .navlink-label{
			display: none;
		}
   }
}