@font-face {
  font-family: 'Icons';
  src: url('../fonts/icons.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Semibold.ttf') format("truetype");
  font-style: bold;
  font-weight: bold;
}