$appBackground: #2387BE;
$buttonSelected: #0A5A85;
$buttonBackground: #0E71B8;
$buttonInactive: #B9C7CB;
$screenBackground: #ECF0F1;
$inputText: #B9C7CB;
$black: #333333;
$grey: #8B8B8B;
$white: #ffffff;
$red: #C0392B;
$green: #27AE60;
$transparent: rgba(255, 255, 255, 0);
$transparentGrey: rgba(0, 0, 0, 0.75);
$transparentBlue: rgba(10, 90, 133, 0.5);

@mixin shadow{
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

@mixin all-sides-shadow{
	box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25);
}

@mixin no-shadow{
	box-shadow: none;
}